<p>produtos works!</p>

<body>
  <article>
    <main class="container">
      <section class="products-container">
        <div class="card">
          <p>Controle Remoto Tv Universal 9034 +pilhasS1</p>
          <img
            src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSWeZFjXLBDxzyZQATBZnDRFqMmA7yEwFPmHydxKpDetJBK1R7VnvkMvJdJR-YcECAjXgQh-Uq-IrPbjBq_TddVHhtC1sV9Schlb2YR_Uwd5UrieUpxTg2ljsW6MAxBWpGkxs0&usqp=CAc"
            width="111" height="111"> <br>
          <a href="https://www.americanas.com.br/produto/2702127663?opn=YSMESP&offerId=5febd45c0c07044266c7a636&srsltid=AQP2TeN2Bh62bR6Rxmr37i_BfMSIfLc-VB6L0yuLodivlvqDgIO-I7ktH8o"
            class="btn">COMPRAR</a>
          <br>

          <p>Controle Compatível com PS4/PS4 pro e pc</p>
          <img src="https://m.media-amazon.com/images/I/51eoaVOShvL._AC_SX679_.jpg" width="111" height="111"> <br>
          <a href="https://www.amazon.com.br/Controle-para-Recarreg%C3%A1vel-Joystick-Preto/dp/B09H3MHRSN/ref=asc_df_B09H3MHRSN/?tag=googleshopp00-20&linkCode=df0&hvadid=647503587076&hvpos=&hvnetw=g&hvrand=6674881366780205289&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102365&hvtargid=pla-1970146208355&psc=1"
            class="btn">COMPRAR</a>
          <br>

          <p>Controle Remoto Universal Ar Condicionado </p>
          <img src="https://m.media-amazon.com/images/I/51cc5iMOMoL._AC_SL1146_.jpg" width="111" height="111"> <br>
          <a href="https://www.amazon.com.br/CONTROLE-UNIVERSAL-CONDICIONADO-HITACHI-PANASONIC/dp/B07VYVHKKQ/ref=asc_df_B07VYVHKKQ/?tag=googleshopp00-20&linkCode=df0&hvadid=379713223638&hvpos=&hvnetw=g&hvrand=9772323508063842131&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102365&hvtargid=pla-954971092247&psc=1"
            class="btn">COMPRAR</a>
          <br>

          <p>Controle Nintendo Switch Joy-Con, Vermelho e Azul</p>
          <img src="https://images.kabum.com.br/produtos/fotos/178104/controle-nintendo-switch-joy-con-vermelho-e-azul-hbcajaea1_1626895433_gg.jpg" width="111" height="111"><br>
          <a href="https://www.kabum.com.br/produto/178104/controle-nintendo-switch-joy-con-vermelho-e-azul-hbcajaea1?srsltid=AQP2TePRd3pVoMOfooZr1WUs0R29-bB7tA0_yqIDxDXkGBrBBj-D5wT8W6Q"
            class="btn">COMPRAR</a>
          <br>
          <p>Controle Joypad Xbox Series X/S Wireless com Bluetooth Branco</p>
          <img src="https://m.media-amazon.com/images/I/51JCqvlkqVL._AC_SL1500_.jpg" width="111" height="111"> <br>
          <a href="https://shopee.com.br/Microsoft-Xbox-One-S-Controle-Sem-Fio-Bluetooth-Apoio-Windows-Xbox-Joystick-i.468404480.3794686466"
            class="btn">COMPRAR</a>
          <br>
        </div>
      </section>
    </main>
  </article>
</body>
