<p>pedidos works!</p>
<h1>Aqui é a sessão de dos mais pedidos do momento.<br>
Caso queira comprar, basta clicar no botão ADQUIRIR
</h1>
<body>

    <main class="container">
      <section class="products-container">
        <div class="card">
          <p><b>Notebook Asus:</b> Asus MD15 um dos menores notebooks de 15 polegadas do mundo
            Seja para trabalho ou lazer, o ASUS M515 é um notebook que oferece desempenho poderoso e visuais envolventes. Sua tela NanoEdge possui um revestimento antirreflexo fosco para uma experiência verdadeiramente envolvente. O M515 é equipado com até processador AMD Ryzen e memória de 8 GB. Armazenamento rápido com SSD com até 256GB PCIe SSD.</p>
          <img
            src="https://images.kabum.com.br/produtos/fotos/334039/notebook-asus-amd-ryzen-5-3500u-8gb-ram-ssd-256gb-15-6-radeon-vega-8-windows-11-home-cinza-m515da-br1213w_1651244602_gg.jpg"
            width="111" height="111"> <br>
          <a href="https://www.kabum.com.br/produto/334039/notebook-asus-amd-ryzen-5-3500u-8gb-ram-ssd-256gb-15-6-radeon-vega-8-windows-11-home-cinza-m515da-br1213w?gclid=Cj0KCQjwu-KiBhCsARIsAPztUF3H4wSRqOdS1DXTNSZ98HjEda7Ln04AMhz1IgwzWipZGpMHZXztGQcaAhV1EALw_wcB"
            class="btn">COMPRAR</a>
          <br>

          <p><b>Samsung Galaxy M23:</b>O Smartphone Galaxy M23 da Samsung é a melhor opção para quem ama tecnologia e novidade. Com a qualidade de velocidade do 5G, conta com processador Snapdragon para você curtir o melhor da tecnologia, com alto desempenho para realizar as atividades do dia a dia. </p>
          <img src="https://m.media-amazon.com/images/I/71izNSK7+sL._AC_SL1500_.jpg" width="111" height="111"> <br>
          <a href="https://www.amazon.com.br/Smartphone-Samsung-Galaxy-M23-128GB/dp/B0B624LXXM/ref=asc_df_B0B624LXXM/?tag=googleshopp00-20&linkCode=df0&hvadid=379773236150&hvpos=&hvnetw=g&hvrand=17910239137107312967&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102365&hvtargid=pla-1685903372601&psc=1"
            class="btn">COMPRAR</a>
          <br>

          <p><b>Kindle 11ª Geração:</b>Leia confortavelmente em uma tela antirreflexo como se fosse em papel. Com a iluminação embutida ajustável e o modo noturno, ler fica mais fácil durante o dia e a noite.</p>
          <img src="https://m.media-amazon.com/images/I/71IMo1bzDRL._AC_SL1500_.jpg" width="110" height="100"> <br>
          <a href="https://www.amazon.com.br/Novo-Kindle-lan%C3%A7amento-2022-armazenamento/dp/B09SWV1FSS/ref=asc_df_B09SWV1FSS/?tag=googleshopp00-20&linkCode=df0&hvadid=622832922177&hvpos=&hvnetw=g&hvrand=9093780125215373804&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102365&hvtargid=pla-1637044657387&psc=1"
            class="btn">COMPRAR</a>
        </div>
      </section>
    </main>

</body>
