<p>home works!</p>




<main class="container">
  <section class="products-container">
    <h1>Bem Vindo</h1>
<img src="https://cdn.awsli.com.br/300x300/1594/1594408/produto/1482066500b9bac0fff.jpg" width="222" height="222"><br>
    <div class="card">
      <article>
        <h2>Noticia Quentinha Abaixo↓↓↓↓↓</h2>
        <p>01/01/2015 08h05 - Atualizado em 29/01/2015 17h54<br>
        Fotógrafo mescla imagens do Rio antigo com o atual; veja o resultado<br>
        Foram usados registros de Augusto Malta do início do século 20.<br>
        Marcello Cavalcanti achou mesmos ângulos para clicar e fazer a montagem.
        <Br>


      <a href="https://g1.globo.com/rio-de-janeiro/rio-450-anos/noticia/2015/01/fotografo-mescla-imagens-do-rio-antigo-com-o-atual-veja-o-resultado.html"
            class="btn">Notícia</a>
        </p>
        </article>
    </div>
  </section>
</main>
